annotated-types==0.7.0
blinker==1.8.2
certifi==2024.8.30
cffi==1.17.1
characterai==1.0.1
charset-normalizer==3.4.0
clarifai-grpc==10.10.2
click==8.1.7
colorama==0.4.6
curl_cffi==0.7.4
Flask==3.0.3
googleapis-common-protos==1.66.0
grpcio==1.64.3
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.2.2
pandas==2.2.3
protobuf==5.29.2
pycparser==2.22
pydantic==2.10.5
pydantic_core==2.27.2
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.3
six==1.17.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.2.3
websockets==13.1
Werkzeug==3.0.4
zipp==3.20.2
